.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.LoginFailRow {
  --bs-table-striped-bg: red;  
  --bs-table-active-bg: red;
  --bs-table-hover-bg: red;
  --bs-table-bg: red;
}

.ActivatedRow {
  --bs-table-striped-bg: green;  
  --bs-table-active-bg: green;
  --bs-table-hover-bg: green;
  --bs-table-bg: green;
}

.DeactivatedRow {
  --bs-table-striped-bg: orange;  
  --bs-table-active-bg: orange;
  --bs-table-hover-bg: orange;
  --bs-table-bg: orange;
}